@page "/"
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<div class="container">
    <img src="img/amtkstat.svg" class="logo" alt="Amtrak Status" />
    <form class="row" @onsubmit="StationAsync" @onsubmit:preventDefault="true">
        <input id="greet-input" placeholder="3-character Station Code" @bind="CodeInput" />
        <button type="submit">Submit</button>
    </form>
    <sub>
        <i>
            <p>Status Boards by Dixieland Software</p>
        </i>
    </sub>
</div>

@code
{
    private string? CodeInput { get; set; }

    private string? StationCode { get; set; }

    private async Task StationAsync()
    {
        StationCode = await JsRuntime.InvokeAsync<string>("__TAURI__.tauri.invoke", "station", new { name = CodeInput });

        NavigationManager.NavigateTo(StationCode);
    }
}
