@inject IJSRuntime JsRuntime

<a @onclick="OpenBrowserAsync">@Text</a>

@code {

    [Parameter]
    [Required]
    public string? Text { get; set; }

    [Parameter]
    [Required]
    public string? Address { get; set; }
    private async Task OpenBrowserAsync()
    {
        await JsRuntime.InvokeAsync<string>("__TAURI__.tauri.invoke", "open_browser", new { address = Address });
    }
}