@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<button @onclick="AddrRedirect">@Name</button>

@code
{
    [Parameter]
    [Required]
    public string? Name { get; set; }

    [Parameter]
    [Required]
    public string? Code { get; set; }

    private void AddrRedirect()
    {
        var address = $"https://dixielandsoftware.net/cgi-bin/solari_relay.pl?data={Code}";

        NavigationManager.NavigateTo(address);
    }
}