@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<form class="row" @onsubmit="AddrRedirect" @onsubmit:preventDefault="true">
    <input id="greet-input" placeholder="3-character Station Code" @bind="Code" />
    <button type="submit">Submit</button>
</form>
<p>Search
    <OpenBrowser Text="Station Codes" Address="https://dixielandsoftware.net/Amtrak/solari/StationSearch.html" />
</p>

@code
{
    private string? Code { get; set; }

    private void AddrRedirect()
    {
        var address = $"https://dixielandsoftware.net/cgi-bin/solari_relay.pl?data={Code}";

        NavigationManager.NavigateTo(address);
    }
}